<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="color"> Home page </h3>

    <p> Hello Quart Home Page </p>

    <div>
        <div>
            <img src="{{ url_for('.static', filename='images/img.jpg')}}" class="imageClass" alt="" srcset="">
        </div>
    </div>



    <!-- Adding javascript -->
    <script src="{{ url_for('.static', filename='js/home.js') }}"></script>
</body>
</html>