<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/signup.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign Up </title>
</head>
<body>
    <div class="navbarDiv">

    </div>

    <div class="signUpDiv">
        <form action="" class="formDiv">
            <div class="headerDiv">
                <h3> Sign In </h3> 
                <p> Stay up to date on your professional world </p>
            </div>

            <div>
                <input type="text" name="" placeholder="Fullname"id="" class="fullnameForm">
            </div>

            <div>
                <input type="email" name="" id="" placeholder="Email address" class="emailForm">
            </div>

            <div>
                <input type="password" placeholder="Password" class="passwordForm">
            </div>

            <div class="forgotPassDiv">
                <a href="#"> Forgot password ?</a>

                <a href="/"> Sign In here </a>
            </div>

            <div>
                <button class="signInBtn"> Sign In </button>
            </div>

        </form>

    </div>
    
</body>
</html>