body {
    font-family: 'Poppins';   
}
.formDiv {
    margin-top: 5em;
    height: fit-content;
    width: 460px;
    padding: 7%;
    border: 1px solid #dbdbdb;
    margin-bottom: 5em; 
}
.signUpDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailForm, 
.passwordForm, 
.fullnameForm {
    height: 39px;
    width: 100%;
    margin-bottom: 17px;
    color: black;
    padding-left: 10px;
}
.signInBtn {
    height: 40px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1f1fc8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.forgotPassDiv {
    width: 103%;
    display: flex; 
    justify-content: space-between;
}